.app {
	&__disabilities-picker {
		position: fixed;
		top: 15px;
		right: 15px;
		z-index: 999;
	}

	&__cache {
		z-index: 998;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: #333;
	}

	&__site-wrapper--mouse-disabled {
		pointer-events: none;
	}

	&__skip-to-link {
		position: fixed;
		top: -999px;
		left: -999px;
		display: block;
		padding: 10px;
		outline: 2px solid var(--blue, #1393dd);
		width: 1px;
		height: 1px;
		overflow: hidden;
		background-color: var(--white);

		&:focus,
		&:active {
			top: 5px;
			left: 5px;
			width: auto;
			height: auto;
		}
	}

	&__main {
		background-color: var(--light-grey);
	}

	&__container {
		background-color: var(--white);
		min-height: 100vh;
	}

	&__section {
		margin-bottom: 40px;
	}
}