.disabilities-picker {
	&__toggle-btn {
		background-color: var(--grey);
		padding: 8px 20px;
		font-size: 2rem;
		border: none;
		text-align: right;
		position: absolute;
		top: 0;
		right: 0;
		
		@include outline;

		&:hover,
		&:focus {
			background-color: var(--light-grey);
		}
		
		&--closed {
			box-shadow: 0 3px 5px 2px #ccc;
		}
	}
	
	&__form {
		background-color: var(--light-grey);
		padding: 30px;
		padding-top: 70px;
		border-radius: 3px;
		box-shadow: 0 3px 5px 2px #ccc;

		&--closed {
			display: none;
		}
	}

	&__fieldset {
		border: none;
		padding: 0;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__legend {
		margin-bottom: 5px;
		font-weight: bold;
	}

	&__options {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	&__option {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
	}

	&__input {
		margin-right: 10px;
		margin-left: 0;
	}
}