.footer {
	background-color: var(--light-grey);
	padding: 20px 0;

	&__quick-links {
		margin-left: 0;

		&, a {
			color: var(--red);
		}
	}

	&__top-row {
		margin-bottom: 50px;
	}

	&__copyright {
		text-align: center;
	}
}