.menu {
	&__list {
		list-style-type: none;
		display: flex;
		padding: 0;
		margin: 0;
		height: 100%;
	}
	&__item {
		display: flex;
	}
	&__link {
		display: flex;
		align-items: center;
		padding: 0 15px;
		font-size: 1.3rem;
		color: #333;
		text-decoration: none;

		&--buy-tickets {
			background-color: var(--medium-green);
			color: var(--white);
			border-radius: 100px;
			padding: 10px 20px;
			margin: 0 10px;
			align-self: center;

			&:hover,
			&:focus {
				color: var(--white);
				background-color: var(--light-green);
			}
		}
	}
}